<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>D:\Proyectos\NetBeans\Proyecto\Proyecto_develop\dist\Proyecto.jar</jar>
  <outfile>D:\Proyectos\NetBeans\Proyecto\Proyecto_develop\dist\Proyecto.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon></icon>
  <classPath>
    <mainClass>GUI.Main.App</mainClass>
    <cp>lib/beansbinding-1.2.1.jar</cp>
    <cp>lib/ValidationAPI.jar</cp>
    <cp>lib/org-openide-util-lookup.jar</cp>
    <cp>lib/org-openide-util.jar</cp>
    <cp>lib/commons-beanutils-1.8.2.jar</cp>
    <cp>lib/commons-collections-3.2.1.jar</cp>
    <cp>lib/lib/</cp>
    <cp>lib/commons-digester-2.1.jar</cp>
    <cp>lib/commons-logging-1.1.jar</cp>
    <cp>lib/iText-2.1.7.js2.jar</cp>
    <cp>lib/jasperreports-5.6.0.jar</cp>
    <cp>lib/ojdbc7.jar</cp>
    <cp>lib/servlet-api-2.4.jar</cp>
    <cp>lib/synthetica.jar</cp>
    <cp>lib/syntheticaBlackMoon.jar</cp>
    <cp>lib/jsch-0.1.54.jar</cp>
    <cp>lib/syntheticaAluOxide.jar</cp>
    <cp>lib/syntheticaBlackEye.jar</cp>
    <cp>lib/syntheticaBlueIce.jar</cp>
    <cp>lib/syntheticaBlueLight.jar</cp>
    <cp>lib/syntheticaBlueMoon.jar</cp>
    <cp>lib/syntheticaBlueSteel.jar</cp>
    <cp>lib/syntheticaDark.jar</cp>
    <cp>lib/syntheticaMauveMetallic.jar</cp>
    <cp>lib/syntheticaPlain.jar</cp>
    <cp>lib/syntheticaSilverMoon.jar</cp>
    <cp>lib/syntheticaSkyMetallic.jar</cp>
    <cp>lib/syntheticaStandard.jar</cp>
    <cp>lib/eclipselink.jar</cp>
    <cp>lib/javax.persistence_2.1.0.v201304241213.jar</cp>
    <cp>lib/org.eclipse.persistence.jpa.jpql_2.5.2.v20140319-9ad6abd.jar</cp>
    <cp>lib/jsch-0.1.54.jar</cp>
    <cp>lib/jasperreports-6.5.1.jar</cp>
    <cp>lib/jsch-0.1.42.jar</cp>
    <cp>lib/jcommon-1.0.23.jar</cp>
    <cp>lib/jfreechart-1.0.19.jar</cp>
    <cp>lib/AbsoluteLayout.jar</cp>
    <cp>lib/mysql-connector-java-5.1.23-bin.jar</cp>
    <cp>lib/log4j-1.2.17.jar</cp>
  </classPath>
  <jre>
    <path></path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion>1.8</minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
  </jre>
</launch4jConfig>